#form p {
    font-style: italic;
}

#woodType input {
    margin-bottom: 10px;
}
#achievements input {
    margin-bottom: 10px;
}

.column_2 {
    margin-left: 200px;
    padding-left: 300px;
}

#message {
    padding-right: 7px;
    margin-right: 10px;
}